.text-shadow{
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4{
    line height: 2;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

.input-field col s12{
    padding-bottom: 50px;
}

.card-panel{
    /* margin-top: 20%;
    margin-bottom: 20%; */
}

.page-footer {
    display: flex;
    min-height: 20vh;
    flex-direction: column;
   border-bottom: 0px;
}

/* Media Queries */

